/* inputSearch.css */
.search-results {
    position: absolute;
    top: 4.5%;
    right: 10.8%;
    width: 27.6%;
    background: var(--content-background-color);;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    max-height: 350px; /* Ajusta la altura máxima de las sugerencias según tus necesidades */
    overflow-y: auto;
    border-radius: 5px;
    padding: 5px;
  }

  .search-results .titulo{
    margin: 15px;
    font-size: 17px;
  }
  
  .result-item {
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 5px;
    background: var(--menu-background-color);
    
    width: 40%;
    border-radius: 50px;
    &:hover{
        background: #006AFF;
       
    }
    &:hover .user-name{
       
    }
    &:hover .user-email{
        
    }
    
  }
  
  .result-item img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-details {
    flex-grow: 1;
  }
  
  .user-name {
    font-size: 13px;
    font-weight: bold;
    color: var(--text-color);
    
   
  }
  
 

  .search-results .no-results, .carga-error{
    text-align: center;
    padding: 5px 0px;
  }
  