
.gestix{
  
  font-size: 25px;
  padding: 10px 0px 20px 10px;
}

.cont-user {
  
  
  border-top: solid 1px var(--border-color);
  border-right: solid 1px var(--border-color);
  width: 15%;
  position: fixed;
 
  bottom: 0;
    display: flex;
    align-items: center;
    padding: 10px 10px; }
    .cont-user img {
      width: 30px;
      width: 30px;
      border: solid 1px var(--border-color);
      border-radius: 100%; }
    .cont-user .name-user {
      font-size: 14px;
      font-weight: 500;
      margin-left: 5px;
      }

      .cont-opcion{
        padding:  0px;
      }
  
  .inicio {
    display: flex;
    align-items: center;
     }
    .inicio a {
      text-decoration: none;
      color: var(--text-color);
      font-size: 15px;
      font-weight: 500;
      display: inline-block;
      width: 100%;
      padding: 10px 20px; 
      
    border-bottom: solid 1px var(--border-color);
    }
  
  .log button {
    background: none;
    font-size: 16px;
    border: none;
    outline: none;
   
    cursor: pointer;
    border-radius: 3px;
    padding: 10px; }
    .log button:hover {
      color: #ececec; }
  .log .cont-log {
    background: #fff;
    padding: 20px 30px;
    border-radius: 4px;
    margin-top: 10px;
    position: absolute;
    z-index: 1; }
    .log .cont-log button {
      color: var(--text-color);
      display: block;
      cursor: pointer;
      margin: 10px 0;
      display: flex;
      align-items: center; }
      .log .cont-log button .icono {
        font-size: 17px;
        margin-right: 10px;
        
        
       }
      .log .cont-log button:hover {
        color: #2c2c2c; }
  
  .dropdown {
    /* border-bottom: solid 1px var(--border-color); */
    
    position: relative;
    display: inline-block;
    
    
    
    width: 100%; }
    .dropdown .dropdown-header {
      
      
      
     
      
      font-size: 15px;
      border: none;
      width: 100%;
      cursor: pointer; }
      .dropdown .dropdown-header .cont-task {
        width: 100%;
        
        display: flex;
        align-items: center;
      
        font-weight: 200;
        justify-content: space-between;
        height: 40px;
        padding: 0px 20px; }
        .dropdown .dropdown-header .cont-task .cont-titulo-icono {
          
          display: flex;
          align-items: center; }
          .dropdown .dropdown-header .cont-task .cont-titulo-icono .icon {
            
            fill: var(--icono-color);
            
            font-size: 15px; }
          .dropdown .dropdown-header .cont-task .cont-titulo-icono h1 {
            font-weight: 400;
            
            font-size: 15px;
            
            margin-left: 15px; }

            .dropdown .dropdown-header .cont-task .puntos-opcion {
              opacity: 0;
              font-size: 14px;
              width: 27px;  /* Ajusta este valor */
              height: 27px;  /* Ajusta este valor */
              
              padding: 7px 5px;
              border-radius: 5px;
              &:hover{
                background: var(--active-color);
                
              }
          }
          
          .dropdown .dropdown-header .cont-task:hover .puntos-opcion {
              opacity: 1;
          }
    .dropdown .dropdown-list {
      min-width: 160px;
      z-index: 1; }
      .dropdown .dropdown-list a {
        
        color: var(--casilla-color);
        font-size: 15px;
        margin: 5px 0px;
        margin-left: 30px;
        font-weight: 500;
        padding: 7px 16px;
        border-radius: 4px;
        text-decoration: none;
        display: block; }
        
        .dropdown .dropdown-list a:hover {
          background-color: var(--active-color); }
  
  a.active {
    background: var(--active-color);
    border: none;
    width: 100%; }


    /* aqui va el contenedor flotante  */

    .cont-flotante-menu{
      display: grid;
      justify-content: center;
      width: 250px;
      position: absolute; 
      z-index: 1000;
      background: var(--content-background-color); /* Fondo oscuro al estilo GitHub */
      border-radius: 7px;
     
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      left: 150px;
  }
  
  .cont-flotante-menu .button-opcion{
      display: inline-block;
      width: 100%;
      color: var(--text-color);
      background: none;
      border: none;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px;
      margin: 5px 0px;
      font-size: 14px;
   
      &:hover{
          
          color: #006AFF; /* Texto blanco al pasar el ratón, al estilo GitHub */
          
      }
  }
  
  .cont-flotante-menu button .ico{
      font-size: 15px;
      margin-right: 10px;
      color: var(--text-color); /* Ícono de color claro para un aspecto profesional */
  }
  